button{
  border: none;
  &:disabled {
    cursor: auto;
  }
  &:hover:not(:disabled) {
    opacity: 0.6;
  }
}

button.icon {
  background-color: inherit;
  min-width: 16px;
  min-height: 16px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}
button.icon.delete-gr{
  background-image: url('../../assets/pic-btn-del-gray.svg');
}
button.icon.delete{
  background-image: url('../../assets/pic-btn-del.svg');
}
button.icon.edit{
  background-image: url('../../assets/pic-btn-edit.svg');
  &::before{
    --icon-bg-image: url('../../assets/pic-btn-edit.svg');
    /* background-image: url('../../assets/pic-btn-edit.svg'); */
  }
}
button.icon.edit-w{
  background-image: url('../../assets/pic-btn-edit-w.svg');
}


.edit-form .btns.size56 {
  gap: 8px;
  display: flex;
  button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 56px;
    min-width: 56px;
    border-radius: 6px;
    padding: 6px;

    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  button.save {
    background-color: var(--accent,  #DB563B);
  }
  button.del {
    background-color: black;
  }
  button.cancel {
    background-color: #606A74;
  }

  button::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  button.save::before {
    background-image: url('../../assets/pic-btn-save.svg');
  }
  button.del::before {
    background-image: url('../../assets/pic-btn-del.svg');
  }
  button.cancel::before {
    background-image: url('../../assets/pic-btn-cancel.svg');
  }

}

button.long{
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  div.new-icon::before{
    margin-right: 6px;
  }
}

.form-data.transport {
  display: flex;
  gap: 8px;
  --tt-color:var(--background3);
  button.transport{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    width: 55px;
    height: 39px;
    border-radius: 6px;
    background-color: inherit;
    &.active{
      --tt-color: var(--accent);
      border: 1px solid var(--accent);
    }
    .new-icon{
      margin: 0 auto;
    }
  }
}
/* //TODO:написал новые правила для кнопок управления формами */
.form-btns{
  display: flex;
  margin-top: 17px;
  button{
    min-width: 65px;
    height: 55px;
    border-radius: 6px;
    text-transform: uppercase;
    display: flex; flex-direction: column; justify-content: space-between;
    font-size: 10px; line-height: 10px; text-align: left;
    padding: 9px 8px 7px;
  }
  button.cancel{
    background-color: var(--event_neutral);
    color: var(--event_neutral_text);
    --icon-color: var(--event_neutral_text)
  }
  button.save{
    margin-left: auto;
    margin-right: 8px;
    background-color: var(--accent);
    color: var(--accent_text);
    --icon-color: var(--accent_text)
  }
}
