.content{
  --main-background:#F7F9FC;/* Основной фон Некоторые поля ввода Четные строки таблиц */
  --accent-objects:#DB563B;/* Важные кнопки, ссылки Важные пиктограммы Акцентные объекты*/
  --menu-panel:#4B66AD;/* Панели меню Заголовки страниц Второстепенные ссылки */

  --main-text:#2C3640;/* Основной текст*/
  --additional-text:#606A74;/* Дополнительный текст */
  --minor-elements:#83909E;/* Второстепенные элементы */

  --frames-and-dividers:#E0E5EB;/* Рамки и разделители */
  --positive-event:#81DD7C;/* Позитивное событие */
  --negative-event:#FD7171;/* Негативное событие */
}