<div class="example-element-block">

  <div class="first_row">

    <div class="first_col">
      <div class="cost_block">
        <div class="cost">{{rate?.total_cost_text}}</div>
      </div>
      <div class="contractor_block">
        <div style="display: flex; justify-content: space-between;">
          <div class="agent_block">
            <div class="label">Агент авиалинии:</div>
            <div>{{rate?.carrier_text}}</div>
            <div class="detailed">Подробнее  ></div>
          </div>
          <div class="link_block">
            <div class="pic msg"></div>
            <div class="pic phone"></div>
            <div class="pic mail"></div>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin-top: 40px;">
          <div class="rating_block">
            <div class="label">Рейтинг в системе:</div>
            <div class="stars">
              <div class="star_sel"></div>
              <div class="star_no-sel"></div>
            </div>
            <div>{{rate?.contractor.trade_count_text}} NSP</div>
          </div>
          <div class="pct_block">
            <div class="label">% выигранных торгов:</div>
            <div class="flags">
              <div><span class="red_flag"></span>{{rate?.contractor.trade_fail_count}}</div>
              <div><span class="green_flag"></span>{{rate?.contractor.trade_success_count}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="second_col">
      <div class="title">Данные по ставке</div>
      <div class="items">
        <div class="item">
          <div class="label">Транзитный срок:</div>
          <div>{{rate?.valid_time}}</div>
        </div>
        <div class="item">
          <div class="label">Ставка до:</div>
          <div>{{rate?.contractor.trade_success_count}}</div>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="label">Линия:</div>
          <div>{{rate?.carrier_text}}</div>
        </div>
        <div class="item">
          <div class="label">Маршрут:</div>
          <div>{{rate?.route_text}}</div>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="label">Плотность груза (кг/м3):</div>
          <div>{{rate?.request.cargo_places_density}}</div>
        </div>
        <div class="item">
          <div class="label">Оплачиваемый вес (кг):</div>
          <div>{{rate?.request.cargo_places_paid_weight}}</div>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="label">Кол-во мест:</div>
          <div>{{rate?.request.cargo_places_count}}</div>
        </div>
        <div class="item">
          <div class="label">Вес брутто, кг:</div>
          <div>{{rate?.request.cargo_places_weight}}</div>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="label">Свободные места:</div>
          <div>{{rate?.nearest_flight_text}}</div>
        </div>
        <div class="item">
          <div class="label">Дни вылета:</div>
          <div>{{rate?.departure_schedule_text?.join(', ').toUpperCase()}}</div>
        </div>
      </div>
    </div>

    <div class="third_col">
      <div class="title">В ставку включено <span>/ не включено</span></div>
      <div class="items">
        <div class="on_block">
          <div *ngFor="let item of rate?.values" class="last-item">
            <div class="item" *ngIf="item.select">
              <div class="name"><span class="pic"></span>{{item.name}}</div>
              <div class="label">Включено: <span>{{item.cost_text}}</span></div>
            </div>
          </div>
        </div>
        <div class="off_block">
          <div *ngFor="let item of rate?.values" class="last-item">
            <div class="item" *ngIf="!item.select">
              <div class="name"><span class="pic"></span>{{item.name}}</div>
              <div class="label">Не включено</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="second_row">
    <div class="comment_block">
      <div class="label">
        <span class="pic-i-grey">i</span>Примечание:
      </div>
      <div class="comment">{{ rate?.comment }}</div>
    </div>
  </div>

</div>

