<form [formGroup]="kpForm" class="edit-form" (ngSubmit)="onSubmit()" style="width: 1488px;" >

  <div formGroupName="param">
    <!-- Секция Custom -->
    <div formGroupName="custom" class="block">

      <div formArrayName="rows" class="rate_table">
        <div class="row">
          <div *ngFor="let col of customTableRowConfig" [style.width]="col.width">{{col.title}}</div>
        </div>
        <div *ngFor="let row of customRows.controls; let i = index" [formGroupName]="i" class="row">

          <div class="row_main">
            <div *ngFor="let col of customTableRowConfig" [style.width]="col.width">
              <ng-container *ngIf="col.index">
                {{offer?.param.custom.rows[i][col.index]}}
              </ng-container>
              <ng-container *ngIf="col.control">
                <input type="number" (ngModelChange)="col.change(row,offer?.param.custom.rows[i].total_cost, $event)">
              </ng-container>
              <ng-container *ngIf="col.expansion">
                <div (click)="col.expansion('расширение'); expansionRow = expansionRow === row ? null : row;">expan</div>
              </ng-container>
              <ng-container *ngIf="col.del">
                <div (click)="col.del('удаление'); ">del</div>
              </ng-container>
              <ng-container *ngIf="col.value">
                <input type="number" [value]="col.value(offer?.param.custom.rows[i].total_cost, row.value.profit_amount)" readonly>
              </ng-container>

            </div>
          </div>

          <div class="row_expansion" formArrayName="services" *ngIf="expansionRow==row">
            <div *ngFor="let service of returnServiceControls(row); let j = index" [formGroupName]="j" style="display: flex;">

              <div>{{offer?.param.custom.rows[i].services[j].name}}</div>
              <div>{{offer?.param.custom.rows[i].services[j].cost}}</div>

              <input formControlName="profit_amount" type="number" (ngModelChange)="onProfitAmountServicesChange()">
              <input formControlName="profit_percent" type="number" (ngModelChange)="onProfitPercentServicesChange()">
              <input readonly [value]="returnSum(offer?.param.custom.rows[i].services[j].cost, service.value.profit_amount)" type="number">

              <mat-checkbox formControlName="select"></mat-checkbox>

            </div>
          </div>





          <!-- Услуги -->
          <!-- <div formArrayName="services">
            <div *ngFor="let service of returnServiceControls(row); let j = index" [formGroupName]="j" style="display: flex;">
              <label for="field">Service {{ j + 1 }}:</label>
              <div>{{offer?.param.custom.rows[i].services[j].name}}</div>
              <input formControlName="profit_amount" type="number">
              <input formControlName="profit_percent" type="number">
              <input formControlName="selected" type="checkbox">
            </div>
          </div>-->

          <!-- Кнопка для добавления новой услуги -->
          <!-- <button type="button" (click)="addServiceCustom(i)">Add Service</button> -->
        </div>




      </div>
      <button type="button" (click)="addCustomRow()">Add Row</button>
    </div>

    <!-- Секция Storage -->
    <div formGroupName="storage">
      <h3>Storage</h3>
      <div formArrayName="rows">
        <div *ngFor="let row of storageRows.controls; let i = index" [formGroupName]="i">
          <h4>Row {{ i + 1 }}</h4>

          <!-- Строка -->
          <label for="profit_amount">Profit Amount</label>
          <input formControlName="profit_amount" type="number">

          <!-- Услуги -->
          <div formArrayName="services">
            <div *ngFor="let service of returnServiceControls(row); let j = index" [formGroupName]="j">
              <label for="field">Service {{ j + 1 }}:</label>
              <div>{{offer?.param.storage.rows[i].services[j].name}}</div>
              <div>{{offer?.param.storage.rows[i].services[j].name}}</div>
              <div>{{offer?.param.storage.rows[i].services[j].name}}</div>
              <div>{{offer?.param.storage.rows[i].services[j].name}}</div>
              <div>{{offer?.param.storage.rows[i].services[j].name}}</div>
              <div>{{offer?.param.storage.rows[i].services[j].name}}</div>
              <input formControlName="profit_amount" type="number">

              <input formControlName="select" type="checkbox">
            </div>
          </div>

          <!-- Кнопка для добавления новой услуги -->
          <button type="button" (click)="addServiceStorage(i)">Add Service</button>
        </div>
      </div>
      <button type="button" (click)="addStorageRow()">Add Row</button>
    </div>

    <!-- Секция Delivery -->
    <div formGroupName="delivery">
      <h3>Delivery</h3>
      <div formArrayName="rows">
        <div *ngFor="let row of deliveryRows.controls; let i = index" [formGroupName]="i">
          <h4>Row {{ i + 1 }}</h4>

          <!-- Строка -->
          <label for="profit_amount">Profit Amount</label>
          <input formControlName="profit_amount" type="number">

          <!-- Услуги -->
          <div formArrayName="services">
            <div *ngFor="let service of returnServiceControls(row); let j = index" [formGroupName]="j">
              <label for="field">Service {{ j + 1 }}:</label>
              <div>{{offer?.param.delivery.rows[i].services[j].name}}</div>
              <input formControlName="profit_amount" type="number">

              <input formControlName="select" type="checkbox">
            </div>
          </div>

          <!-- Кнопка для добавления новой услуги -->
          <button type="button" (click)="addServiceDelivery(i)">Add Service</button>
        </div>
      </div>
      <button type="button" (click)="addDeliveryRow()">Add Row</button>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>





