.form-row .form-block-sub-title{
  margin-bottom: 30px;

}
.charges{
  border-radius: 6px;
  border: 1px solid var(--line);
  padding: 11.5px;
  background-color: var(--background);
  input[type="text"]{
    border: none !important;
    height: 20px !important;
    background-color: inherit !important;
  }
}

.forms{
  display: flex;
  justify-content: center;

  form{
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
.form-block{
  flex:1;
}

.form-label {
  display: flex;

  .ii-translate{
    margin-left: auto;
    --icon-color: var(--accent);
    display: ruby;
      min-width: 0;
  white-space: nowrap;       /* Запрещаем перенос строк */
  overflow: hidden;          /* Скрываем выходящий за границы текст */
  text-overflow: ellipsis;
  max-width: 50% ;

  min-width: 0;

  margin-right: 3px;
    .new-icon{margin-right: 5px;}

  }

}

.textarea-box{
  background-color: var(--background);
}
