<div>
  <!-- <div class="title">{{ filterControl.name }}:</div> -->
  <div class="title">Период:</div>

    <div class="df">

      <div class="data checkbox">
        <label>
          <input [(ngModel)]="filter.value[filterControl.field]" type="radio" (click)="change(day)" [value]="day">
          <span>День</span>
        </label>

        <label>
          <input [(ngModel)]="filter.value[filterControl.field]" type="radio" (click)="change(week)" [value]="week">
          <span>Неделя</span>
        </label>

        <label>
          <input [(ngModel)]="filter.value[filterControl.field]" type="radio" (click)="change(month)" [value]="month">
          <span>Месяц</span>
        </label>
      </div>

      <div class="period">
        <mat-date-range-input class="w110 datee" [rangePicker]="picker">
          <input matStartDate placeholder="дд.мм.гггг" class="date-item" (dateChange)="test1($event)">
          <input matEndDate placeholder="дд.мм.гггг" class="date-item" (dateChange)="test2($event)">
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </div>

    </div>


    <!-- <mat-form-field class="mat-form-fiel df"> -->
      <!-- <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" (dateChange)="test1($event)">
        <input matEndDate placeholder="End date" (dateChange)="test2($event)">
      </mat-date-range-input>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->

     <!-- </mat-form-field> -->



</div>



