<div class="subheader">
  <div class="title">Запросы</div>

  <div class="btns-file">

    <button [routerLink]="['add']" class=" file-btn add-link">
      <div></div>
      <span>Новый запрос</span>
    </button>

    <button (click)="importFile()" type="button" class="file-btn import">
      <div></div>
      <span>Импорт данных</span>
    </button>

    <button (click)="exportTemplateChange()" type="button" class="file-btn export hover">
      <div></div>
      <span>Шаблон для импорта</span>
    </button>

    <button (click)="exportChange()" type="button" class="file-btn export">
      <div></div>
      <span>Экспорт данных</span>
    </button>

    <input class="ui-file-input"
      type="file"
      [accept]="xlsxMimeType"
      #file
      (change)="selectFileForImport()"
    />
  </div>

  <app-universal-filter style="margin-left: auto;"
    *ngFor="let control of filterService.searchFilterSchema?.header"
    [filterControl]="control"
  >
  </app-universal-filter>
</div>
