<table class="t1">
  <tbody>
    <tr>
      <th class="name">
        <div>Отправление из {{getCountryById(homeCountryId)}} в {{getToCountryCount()}} стран:</div>
        <input type="text" placeholder="Добавить страну или регион..." matInput [(ngModel)]="country"
          (ngModelChange)="doFilter($event)" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addCountry()">
          <mat-option *ngFor="let country of filteredCountries" [value]="country">
            {{country.name}}
          </mat-option>
        </mat-autocomplete>
      </th>
      <th class="all bg s e">
        <div class="l">Все виды</div>
        <label><input type="checkbox" class="show-all"><i></i></label>
      </th>
      <th *ngFor="let kind of kinds" [ngClass]="kind.classes">
        <div class="l"><span class="ico" [ngClass]="kind.type"></span><span>{{kind.name}}</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
    </tr>

    <tr class="row" *ngFor="let resp of value; let i = index">
      <td class="name">
        <div>
          <span>{{getCountryById(resp.toCountryId)}}</span>
          <span class="del" (click)="removeCountry(i)"></span>
        </div>
      </td>
      <td class="bg s e">
        <label>
          <input type="checkbox" class="show-all-row" [ngModel]="resp.transport['all']"
            (ngModelChange)="toggleRow(i, $event)">
          <i></i>
        </label>
      </td>
      <td *ngFor="let kind of kinds" [ngClass]="kind.classes">
        <label>
          <input type="checkbox" class="show-all-row" [(ngModel)]="resp.transport[kind.kind]"
            (ngModelChange)="valueChange(i, kind.kind)"><i></i>
        </label>
      </td>
    </tr>
  </tbody>
</table>

<table class="t1">
  <tbody>
    <tr>
      <th class="name">
        <div>Внутрироссийские<br>
          перевозки:</div>
      </th>
      <th class="all bg s e">
        <div class="l">Все виды</div>
        <label><input type="checkbox" class="show-all"><i></i></label>
      </th>
      <th *ngFor="let kind of kinds" [ngClass]="kind.classes">
        <div class="l"><span class="ico" [ngClass]="kind.type"></span><span>{{kind.name}}</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
    </tr>
  </tbody>
</table>

<div>
  {{ value | json }}
</div>