<table class="t1" *ngFor="let fromItem of value | keyvalue">
  <tbody>
    <tr>
      <th class="name">
        <div>Отправление в {{getCountryById(fromItem.key)}} из {{getToCountryCount(fromItem.key)}} стран:</div>
        <input type="text" name="" value="" placeholder="Добавить страну или регион...">
      </th>
      <th class="all bg s e">
        <div class="l">Все виды</div>
        <label><input type="checkbox" class="show-all"><i></i></label>
      </th>
      <th class=" s">
        <div class="l"><span class="ico air"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" e">
        <div class="l"><span class="ico air"></span><span>FCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg s">
        <div class="l"><span class="ico road"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg">
        <div class="l"><span class="ico road"></span><span>FCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg">
        <div class="l"><span class="ico road"></span><span>ADR</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg e">
        <div class="l"><span class="ico road"></span><span>REF</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" s">
        <div class="l"><span class="ico sea"></span><span>TEUS</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class="">
        <div class="l"><span class="ico sea"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" e">
        <div class="l"><span class="ico sea"></span><span>СП</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg s">
        <div class="l"><span class="ico rail"></span><span>TEUS</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg">
        <div class="l"><span class="ico rail"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg e">
        <div class="l"><span class="ico rail"></span><span>СП</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
    </tr>

    <tr class="row" *ngFor="let toItem of fromItem.value | keyvalue">
      <td class="name">
        <div>
          <span>{{getCountryById(toItem.key)}}</span>
          <span class="del" (click)="removeCountry(fromItem.key, toItem.key)"></span>
        </div>
      </td>
      <td class="bg s e">
        <label>
          <input type="checkbox" class="show-all-row" [ngModel]="toItem.value['all']" (ngModelChange)="toggleAll(fromItem.key, toItem.key, $event)">
          <i></i>
        </label>
      </td>
      <td class=" s">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['avia_lcl']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" e">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['avia_fcl']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" bg s">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['road_lcl']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" bg">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['road_fcl']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" bg">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['road_adr']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" bg e">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['road_ref']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" s">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['sea_teus']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class="">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['sea_lcl']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" e">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['sea_sp']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" bg s">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['rw_teus']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" bg">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['rw_lcl']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
      <td class=" bg e">
        <label><input type="checkbox" class="show-all-row" [(ngModel)]="toItem.value['rw_sp']" (ngModelChange)="valueChange(fromItem.key, toItem.key)"><i></i></label>
      </td>
    </tr>
  </tbody>
</table>

<table class="t1">
  <tbody>
    <tr>
      <th class="name">
        <div>Внутрироссийские<br>
          перевозки:</div>
      </th>
      <th class="all bg s e">
        <div class="l">Все виды</div>
        <label><input type="checkbox" class="show-all"><i></i></label>
      </th>
      <th class=" s">
        <div class="l"><span class="ico air"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" e">
        <div class="l"><span class="ico air"></span><span>FCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg s">
        <div class="l"><span class="ico road"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg">
        <div class="l"><span class="ico road"></span><span>FCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg">
        <div class="l"><span class="ico road"></span><span>ADR</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg e">
        <div class="l"><span class="ico road"></span><span>REF</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" s">
        <div class="l"><span class="ico sea"></span><span>TEUS</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class="">
        <div class="l"><span class="ico sea"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" e">
        <div class="l"><span class="ico sea"></span><span>СП</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg s">
        <div class="l"><span class="ico rail"></span><span>TEUS</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg">
        <div class="l"><span class="ico rail"></span><span>LCL</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
      <th class=" bg e">
        <div class="l"><span class="ico rail"></span><span>СП</span></div>
        <label><input type="checkbox" class="show-all-col"><i></i></label>
      </th>
    </tr>
  </tbody>
</table>