<div (click)="sub()">order editor</div>
<form [formGroup]="orderForm" class="edit-form">
  <div class="form-block">
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Статус:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="status_id"
              [matAutocomplete]="status"
            >
            <mat-autocomplete #status="matAutocomplete" [displayWith]="displayFn_Contractor.bind(this)">
              <mat-option *ngFor="let contractor of filteredContractorList" [value]="contractor.id">{{contractor.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Запрос:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="request_id"
              [matAutocomplete]="request"
            >
            <mat-autocomplete #request="matAutocomplete" >
              <mat-option *ngFor="let opt of filteredRequestList" [value]="opt.id">{{opt.id}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Подрядчик:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="contractor_id"
              [matAutocomplete]="contractor"
            >
            <mat-autocomplete #contractor="matAutocomplete" [displayWith]="displayFn_Contractor.bind(this)">
              <mat-option *ngFor="let contractor of filteredContractorList" [value]="contractor.id">{{contractor.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Клиент:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="customer_id"
              [matAutocomplete]="customer"
            >
            <mat-autocomplete #customer="matAutocomplete" [displayWith]="displayFn_Customer.bind(this)">
              <mat-option *ngFor="let opt of filteredCustomerList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-block-title">Транспорт</div>
  <div class="form-block">
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Вид перевозки :</div>
          <div class="form-data">
            <mat-select formControlName="transport_kind_id">
              <mat-option 
                (click)="onTransportKindChange()" 
                *ngFor="let opt of transportList;" 
                [value]="opt.id">{{ opt.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Номер документа :</div>
          <div class="form-data">
            <input type="text" formControlName="doc_tc_number"> 
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Трек номер груза :</div>
          <div class="form-data">
            <input type="text" formControlName="track_tc"> 
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Трек номер SVH :</div>
          <div class="form-data">
            <input type="text" formControlName="track_svh"> 
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="form-block-title">Направления</div>
  <div class="form-block">
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Страна отправления :</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="departure_country_id"
              [matAutocomplete]="departure_country_id"
            >
            <mat-autocomplete #departure_country_id="matAutocomplete" [displayWith]="displayFn_Country.bind(this)">
              <mat-option (click)="onDepartureCountryChange(opt)" *ngFor="let opt of filteredDepartureCountryList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Город отправления :</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="departure_city_id"
              [matAutocomplete]="departure_city_id"
            >
            <mat-autocomplete #departure_city_id="matAutocomplete" [displayWith]="displayFn_City.bind(this)">
              <mat-option (click)="onDepartureCityChange(opt)" *ngFor="let opt of filteredDepartureCityList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <ng-container *ngIf="filteredDeparturePointList">
            <div class="form-label">Аэропорт вылета :</div>
            <div class="form-data">
              <mat-select formControlName="departure_point_id">
                <mat-option *ngFor="let opt of filteredDeparturePointList;" [value]="opt.id">{{ opt.name }}</mat-option>
              </mat-select>
            </div>
          </ng-container>
          
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Страна прибытия :</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="arrival_country_id"
              [matAutocomplete]="arrival_country_id"
            >
            <mat-autocomplete #arrival_country_id="matAutocomplete" [displayWith]="displayFn_Country.bind(this)">
              <mat-option (click)="onArrivalCountryChange(opt)" *ngFor="let opt of filteredArrivalCountryList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
          <div class="form-item">
            <div class="form-label">Город прибытия :</div>
            <div class="form-data">
              <input
                type="text"
                formControlName="arrival_city_id"
                [matAutocomplete]="arrival_city_id"
              >
              <mat-autocomplete #arrival_city_id="matAutocomplete" [displayWith]="displayFn_City.bind(this)">
                <mat-option (click)="onArrivalCityChange(opt)" *ngFor="let opt of filteredArrivalCityList" [value]="opt.id">{{opt.name}}</mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="form-item">
            <ng-container *ngIf="filteredArrivalPointList">
              <div class="form-label">Аэропорт вылета :</div>
              <div class="form-data">
                <mat-select formControlName="arrival_point_id">
                  <mat-option *ngFor="let opt of filteredArrivalPointList;" [value]="opt.id">{{ opt.name }}</mat-option>
                </mat-select>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
  </div>
  <div class="form-block-title">Статус и события</div>
  <div class="form-block" style="display: flex; justify-content: space-between;">
    <div class="table-form" style="width: 49%;">
      <table>
        <thead>
          <tr><th>
            <div class="td-block">
              <div class="column">Статус</div>
              <div class="column">Планируемая дата</div>
              <div class="column">Фактическая дата</div>
              <div class="column">Задержка</div>
            </div>
          </th></tr>
        </thead>
        <tbody formArrayName="statuses">
          <ng-container
              *ngFor="let status of statuses.controls;
              let i = index;"
              [formGroupName]="i"
            >
              <tr><td>
                <div class="td-block">
                  <div class="column">{{status.value.name}}</div>
                  <div class="column">
                    <input type="text" formControlName="scheduled_date" [matDatepicker]="picker1">
                    <mat-datepicker #picker1></mat-datepicker>
                    <div class="calendar" (click)="picker1.open()" ></div>
                  </div>
                  <div class="column">
                    <input (click)="onDoneDateClick(status)" (dblclick)="onDoneDateDblClick(status)" type="text" formControlName="done_date" [matDatepicker]="picker2">
                    <mat-datepicker #picker2></mat-datepicker>
                    <div class="calendar" (click)="picker2.open()"></div>
                  </div>
                  <div class="column">
                    <input type="text" readonly [value]="getDaysDifferenceString(status.value.scheduled_date, status.value.done_date)">
                  </div>
                </div>
              </td></tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="table-form" style="width: 49%; display: flex; flex-direction: column;">
      <table>
        <thead>
          <tr>
            <th><div class="td-block"><div class="column">Дата</div></div></th>
            <th><div class="td-block"><div class="column">Событие</div></div></th>
          <tr>
        </thead>
        <tbody formArrayName="events">
          <ng-container
              *ngFor="let event of events.controls;
              let i = index;"
              [formGroupName]="i"
            >
              <tr>
                <td>
                  <div class="td-block">
                    <div class="column">
                      <input type="text" formControlName="date" [matDatepicker]="picker3">
                      <mat-datepicker #picker3></mat-datepicker>
                      <div class="calendar" (click)="picker3.open()"></div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="td-block">
                    <div class="column">
                      <input type="text" formControlName="text">
                    </div>
                  </div>
                </td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <button (click)="onAddEventClick()">Добавить</button>
      <table>
        <thead>
          <tr>
            <th><div class="td-block"><div class="column">Дата</div></div></th>
            <th><div class="td-block"><div class="column">Событие</div></div></th>
          <tr>
        </thead>
        <tbody formArrayName="events">
          <ng-container
              *ngFor="let event of events.controls;
              let i = index;"
              [formGroupName]="i"
            >
              <tr>
                <td>
                  <div class="td-block">
                    <div class="column">
                      <input type="text" formControlName="date" [matDatepicker]="picker3">
                      <mat-datepicker #picker3></mat-datepicker>
                      <div class="calendar" (click)="picker3.open()"></div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="td-block">
                    <div class="column">
                      <input type="text" formControlName="text">
                    </div>
                  </div>
                </td>
              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  
        
  
  

</form>
