.table-list .td-block .column {
  position: relative;
}

.resize-handle_end{
  display: block;
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-color: #ccc;
  cursor: col-resize;
  // position: absolute;
  // right: 5px;
  // top: 0;
  z-index: 100;
  margin-left: auto;

}

.column{
  min-width: 50px;
}
