<div class="edit-form title">Rate Request # {{id}}</div>

<form class="edit-form" [formGroup]="requestForm">
  <div class="form-block">

    <div class="form-row df">
      <div class="form-col">

        <div class="form-col-title">Route os Transportation</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Dispatch</div>
            <div class="form-data">
              <div>{{request.departure_text}}</div>
            </div>
            <button (click)="copyDispatchText()" >Copy</button>
            <button >On map</button>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Destination</div>
            <div class="form-data">
              <div>{{request.arrival_text}}</div>
            </div>
            <button (click)="copyDestinationText()" >Copy</button>
            <button >On map</button>
          </div>
        </div>

      </div>
      <div class="form-col">

        <div class="form-col-title">Cargo Details</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Type of cargo:</div>
            <div class="form-data">
              <div>{{requestEn.cargo_type_name}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Cargo name:</div>
            <div class="form-data">
              <div>{{requestEn.cargo_description}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Cargo readiness:</div>
            <div class="form-data">
              <div>{{request.cargo_readiness}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Incoterms</div>
            <div class="form-data">
              <div>{{request.incoterms_name}} {{request.incoterms_city_name}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Details total:</div>
            <div class="form-data">
              <div>{{request.cargo_text}} </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-col">
        <div class="form-col-title">Dimensions</div>
        <textarea>{{requestEn.cargo_dimensions}}</textarea>
      </div>

    </div>

    <div class="form-row">
      <div class="form-row-title">Comment</div>
      <div>{{requestEn.comment}}</div>
    </div>

    <div class="form-row">
      <div class="form-row-title">Attached Files</div>
      <div class="form-item-layout wrap">

        <div class="file-box"
          *ngFor="let documentsFile of request.documents_file;"
          (click)="getFile(documentsFile.id)"
        >
          {{documentsFile.file_name}}
        </div>

        <div class="file-box"
          *ngFor="let cargoFile of request.cargo_file;"
          (click)="getFile(cargoFile.id)"
        >
          {{cargoFile.file_name}}
        </div>

        <!-- <a href="https://cargodrom.com/api/1.0/file_download?id=71" download>ссылко</a> -->

      </div>

    </div>

    <div class="form-row bg ">
      <div class="form-item-layout mb40px">
        <div class="form-row-title">Rates</div>

        <label class="radio">
          <input formControlName="cargo_readiness" type="radio" name="cargo_readiness" [value]="1">
          <i></i>
          <span>With Details</span>
        </label>

        <label class="radio">
          <input formControlName="cargo_readiness" type="radio" name="cargo_readiness" [value]="2">
          <i></i>
          <span>With single Amount</span>
        </label>

      </div>

      <div class="rate_labels">
        <div class="rate_label" *ngFor="let rate of rates.controls"> Rate</div>
        <div class="rate_label active-rate"></div>
        <button class="btn-add-rate" (click)="addRate()">Add Rate</button>
        <button class="btn-dup-rate" (click)="duplicateRate()">Duplicate Rate</button>
      </div>

    </div>

    <div class="form-row rate">
      <div class="form-item-layout">

        <div class="form-item i10">
          <div class="form-label">Chargeable weight:</div>
          <div class="form-data">
            <span class="kg"><input value="{{request.cargo_places_weight}}" type="text" readonly>kg</span>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">Airline:</div>
          <div class="form-data">
            <input type="text" readonly formControlName="airline_name">
          </div>
        </div>

        <div class="form-item i10">
          <div class="form-label">Airline (iata):<span class="req">•</span></div>
          <div class="form-data">
            <mat-form-field appearance="outline" class="ui-select">
             <mat-select formControlName="airline" (valueChange)="onTransportCarrierChange($event)">
                <mat-option
                  *ngFor="let transportCarrier of transportCarrier;"
                  [value]="transportCarrier"
                  >
                  {{ transportCarrier.iata }}
                </mat-option>
             </mat-select>
           </mat-form-field>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">Route:</div>
          <div class="form-data">
            <div>{{requestEn.cargo_type_name}}</div>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">The departure schedule:</div>
          <div class="form-data">
            <div>{{requestEn.cargo_type_name}}</div>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">The nearest flight etd:</div>
          <div class="form-data">
            <div>{{requestEn.cargo_type_name}}</div>
          </div>
        </div>

      </div>

      <div class="charges">
        <div class="included-fees">
          <div>The rate includes following charges</div>

          <div *ngFor="let arr of rateArr1"> {{arr.name}}</div>

        </div>

        <div class="list-charges">
          <div>List of Charges</div>

          <div *ngFor="let arr of rateArr2"> {{arr.name}}</div>

        </div>

      </div>

    </div>

    <div class="form-row bg">
      <button type="submit">Send Rates</button>
    </div>


  </div>
</form>
