<div class="edit-form title">Rate Request # {{id}}</div>

<form class="edit-form" [formGroup]="requestForm">
  <div class="form-block">

    <div class="form-row df">
      <div class="form-col">

        <div class="form-col-title">Route os Transportation</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Dispatch</div>
            <div class="form-data">
              <div>{{request.departure_text}}</div>
            </div>
            <button (click)="copyDispatchText()" >Copy</button>
            <button >On map</button>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Destination</div>
            <div class="form-data">
              <div>{{request.arrival_text}}</div>
            </div>
            <button (click)="copyDestinationText()" >Copy</button>
            <button >On map</button>
          </div>
        </div>

      </div>
      <div class="form-col">

        <div class="form-col-title">Cargo Details</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Type of cargo:</div>
            <div class="form-data">
              <div>{{requestEn.cargo_type_name}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Cargo name:</div>
            <div class="form-data">
              <div>{{requestEn.cargo_description}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Cargo readiness:</div>
            <div class="form-data">
              <div>{{request.cargo_readiness}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Incoterms</div>
            <div class="form-data">
              <div>{{request.incoterms_name}} {{request.incoterms_city_name}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Details total:</div>
            <div class="form-data">
              <div>{{request.cargo_text}} </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-col">
        <div class="form-col-title">Dimensions</div>
        <textarea>{{requestEn.cargo_dimensions}}</textarea>
      </div>

    </div>

    <div class="form-row">
      <div class="form-row-title">Comment</div>
      <div>{{requestEn.comment}}</div>
    </div>

    <div class="form-row">
      <div class="form-row-title">Attached Files</div>
      <div class="form-item-layout wrap">

        <div class="file-box"
          *ngFor="let documentsFile of request.documents_file;"
          (click)="getFile(documentsFile.id)"
        >
          {{documentsFile.file_name}}
        </div>

        <div class="file-box"
          *ngFor="let cargoFile of request.cargo_file;"
          (click)="getFile(cargoFile.id)"
        >
          {{cargoFile.file_name}}
        </div>

        <!-- <a href="https://cargodrom.com/api/1.0/file_download?id=71" download>ссылко</a> -->

      </div>

    </div>

    <div class="form-row bg ">
      <div class="form-item-layout mb40">
        <div class="form-row-title">Rates</div>

        <label class="radio">
          <input formControlName="cargo_readiness" type="radio" name="cargo_readiness" [value]="1">
          <i></i>
          <span>With Details</span>
        </label>

        <label class="radio">
          <input formControlName="cargo_readiness" type="radio" name="cargo_readiness" [value]="2">
          <i></i>
          <span>With single Amount</span>
        </label>

      </div>

      <mat-tab-group>
        <mat-tab label="First">
          <div class="form-item-layout bb">
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>
        </mat-tab>
        <mat-tab label="Second"> Content 2 <div (click)="testF(22)">22</div> </mat-tab>
        <mat-tab label="Third"> Content 3 <div (click)="testF(1331)">33</div> </mat-tab>
        <!-- <mat-tab label="Third"> Content 3  <div (click)="testF(44)">44</div></mat-tab>
        <mat-tab label="Third"> Content 3  <div (click)="testF(55)">55</div></mat-tab>
        <mat-tab label="Third"> Content 3  <div (click)="testF(66)">66</div></mat-tab> -->
        <div class="mat-tab-labels"></div>
      </mat-tab-group>
    </div>

    <div class="form-row bg">
      <button type="submit">Send Rates</button>
    </div>

  </div>
</form>
