Запрос

4коммерческие предложения

ставки

<div (click)="detailsMode='total'">total</div>
<div (click)="detailsMode='border'">border</div>
<div (click)="detailsMode='stock'">stock</div>
<div (click)="detailsMode='export'">export</div>

<app-request-details-table-border *ngIf="detailsMode==='border'" ></app-request-details-table-border>
<app-request-details-table-export *ngIf="detailsMode==='export'"></app-request-details-table-export>
<app-request-details-table-stock  *ngIf="detailsMode==='stock'"></app-request-details-table-stock>
<app-request-details-table-total  *ngIf="detailsMode==='total'" (test1)="test()"></app-request-details-table-total>
