<form [formGroup]="placeForm" class="form-item-table-row">

  <div class="form-row rate">
    <div class="form-item-layout">

      <div class="form-item i10">
        <div class="form-label">Chargeable weight:</div>
        <div class="form-data">
          <span class="kg"><input formControlName="chargeable_weight" type="text" readonly>kg</span>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">Airline:</div>
        <div class="form-data">
          <input type="text"  formControlName="airline"  readonly >
        </div>
      </div>

      <div class="form-item i10">
        <div class="form-label">Airline (iata):<span class="req">•</span></div>
        <div class="form-data">
          <mat-form-field appearance="outline" class="ui-select">
           <mat-select formControlName="airline_id">
            <mat-option
              *ngFor="let transportCarrier of transportCarrier;"
              [value]="transportCarrier.id"
              (click)="onAirlineIataChange(transportCarrier)"
              >
              {{ transportCarrier.iata }}
            </mat-option>
           </mat-select>
         </mat-form-field>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">Route:</div>
        <div class="form-data">
          <!-- <div>{{requestEn.cargo_type_name}}</div> -->
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">The departure schedule:</div>
        <div class="form-data">
          <!-- <div>{{requestEn.cargo_type_name}}</div> -->
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">The nearest flight etd:</div>
        <div class="form-data">
          <!-- <div>{{requestEn.cargo_type_name}}</div> -->
        </div>
      </div>

    </div>

    <div class="charges">

      <div class="included-fees" >

        <div>The rate includes following charges</div>

        <div formGroupName="airfreight_rate">

          <div class="form-item i2 max-w-fc">
            <label>
              <input type="checkbox" formControlName="airfreight_rate_control">
              <i></i>
              <span>Нужен температурный режим?</span>
            </label>
          </div>

          <div class="form-item w124">
            <div class="form-label">Итого вес, кг:</div>
            <div class="form-data">
              <input type="number" formControlName="airfreight_rate_min">
            </div>
          </div>

          <div class="form-item w124">
            <div class="form-label">Итого вес, кг:</div>
            <div class="form-data">
              <input type="number" formControlName="airfreight_rate_bid">
            </div>
          </div>

          <div class="form-item w124">
            <div class="form-label">Итого вес, кг:</div>
            <div class="form-data">
              <input type="number" formControlName="airfreight_rate_variable">
            </div>
          </div>

          <div class="form-item w124">
            <div class="form-label">Итого вес, кг:</div>
            <div class="form-data">
              <input type="number" formControlName="airfreight_rate_sum" readonly>
            </div>
          </div>

        </div>

      </div>

      <div class="list-charges">
        <div>List of Charges</div>

      </div>

    </div>

  </div>

  <button (click)="testLog()">test</button>

</form>



