<form [formGroup]="rateForm" >

  <div class="form-row bg ">

    <div class="form-item-layout mb40px">
      <div class="form-row-title">Rates</div>

      <label class="radio">
        <input type="radio" value="detail" formControlName="rate_type">
        <i></i>
        <span>With Details</span>
      </label>

      <label class="radio">
        <input type="radio" value="nodetail" formControlName="rate_type">
        <i></i>
        <span>With single Amount</span>
      </label>

    </div>

    <div class="rate_labels">
      <div *ngFor="let rate of rates; let i=index">
        <div class="rate_label"  (click)="onChangeRate(i)" [ngClass]="{'active-rate':i===test}"> Rate{{i+1}}</div>
      </div>

      <button class="btn-add-rate" (click)="onAddRate()">Add Rate</button>
      <button class="btn-dup-rate">Duplicate Rate</button>
      <button class="btn-dup-rate" (click)="onDeleteRate()">Delete Rate</button>
    </div>

  </div>

  <div class="form-row rate">
    <div class="form-item-layout">

      <div class="form-item i10">
        <div class="form-label">Chargeable weight:</div>
        <div class="form-data">
          <span class="kg"><input type="text" readonly>kg</span>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">Airline:</div>
        <div class="form-data">
          <input type="text"   readonly >
        </div>
      </div>

      <div class="form-item i10">
        <div class="form-label">Airline (iata):<span class="req">•</span></div>
        <div class="form-data">
          <mat-form-field appearance="outline" class="ui-select">
           <mat-select formControlName="carrier_id">
            <mat-option
              *ngFor="let transportCarrier of transportCarrier;"
              [value]="transportCarrier.id"
              (click)="onAirlineIataChange(transportCarrier)"
              >
              {{ transportCarrier.iata }}
            </mat-option>
           </mat-select>
         </mat-form-field>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">Route:</div>
        <div class="form-data">
          <mat-form-field appearance="outline" class="ui-select">
            <mat-select formControlName="route_id">
             <mat-option
               *ngFor="let transportRoute of transportRoute;"
               [value]="transportRoute.id"
               >
               {{ transportRoute.name }}
             </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">The departure schedule:</div>
        <div class="form-data">
          <!-- <mat-form-field appearance="outline" class="ui-select">
            <mat-select formControlName="departure_schedule" multiple>
              <mat-option
                *ngFor="let day of daysOfTheWeek;"
                [value]="day.id"
                >
                {{ day.day }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">The nearest flight etd:</div>
        <div class="form-data">
          <!-- <div class="test1234">
            {{testTextData(daysSelected)}}
          </div>
           <div>
            <span *ngFor="let test of daysSelected">{{test}}</span>
          </div> -->

          <button class="test1234"  [matMenuTriggerFor]="menu">{{testTextData()}}</button>
          <mat-menu #menu="matMenu">
            <div (click)="$event.stopPropagation()">
              <mat-calendar #calendar
                (selectedChange)="select($event,calendar)"
                [dateClass]="isSelected">
              </mat-calendar>
            </div>
          </mat-menu>

        </div>
      </div>

    </div>

    <div style="display: flex;margin-top: 40px;">

      <div style="width: 75%;">
        <div >The rate includes following charges</div>
        <div formArrayName="values" *ngFor="let chargeValue of charges.controls; let i = index;">
          <div [formGroupName]="i" [ngSwitch]="chargeValue.value.field">
            <ng-template *ngFor="let chargeModel of charge;let i = index;" [ngSwitchCase]="chargeModel.field_name">
              <div *ngIf="chargeValue.value.select" style="display: flex; align-items: baseline;">

                {{chargeModel.name}}

                <label class="radio" *ngIf="!chargeModel.requare">
                  <input  type="checkbox" [checked]="chargeModel.requare===true" formControlName="select">
                  <i></i>
                </label>

                <label class="radio" *ngIf="chargeModel.requare">
                  <input  type="checkbox" [checked]="chargeModel.requare" disabled>
                  <i></i>
                </label>

                <div style="width: 200px;">

                  <div class="form-item charges-values" *ngIf="chargeModel.field_min">
                    <div class="form-data">
                      min $<input type="text" class="values-input" formControlName="min">
                    </div>
                  </div>

                  <div class="form-item charges-values" *ngIf="chargeModel.field_comment">
                    <div class="form-data">
                      <input type="text" class="values-input" formControlName="comment">
                    </div>
                  </div>
                </div>



                <div class="form-item charges-values" *ngIf="chargeModel.unit">
                  <div class="form-data">
                    <input type="text" class="values-input" (ngModelChange)="calck(chargeValue)" formControlName="price">$/{{chargeModel.unit}}
                  </div>
                </div>

                <div class="form-item charges-values" *ngIf="chargeModel.unit!=='kg' && chargeModel.unit">
                  <div class="form-data">
                    <input type="text" class="values-input" (ngModelChange)="calck(chargeValue)" formControlName="value">{{chargeModel.unit}}
                  </div>
                </div>

                <div class="form-item charges-values" *ngIf="chargeModel.unit==='kg'">
                  <div class="form-data">
                    <input type="text" class="values-input" readonly formControlName="value">{{chargeModel.unit}}
                  </div>
                </div>



                <div class="form-item charges-values" *ngIf="!chargeModel.unit">
                  <div class="form-data">
                    <input type="text" class="values-input" (change)="calckCost(chargeValue)" formControlName="cost">$
                  </div>
                </div>

                <div class="form-item charges-values" *ngIf="chargeModel.unit">
                  <div class="form-data">
                    <input type="text" class="values-input" readonly formControlName="cost">$
                  </div>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div style="width: 25%;">
        <div >List of Charges</div>
        <div formArrayName="values" *ngFor="let chargeValue of charges.controls; let i = index;" >
          <div [formGroupName]="i" [ngSwitch]="chargeValue.value.field">
            <ng-template *ngFor="let chargeModel of charge;let i = index;" [ngSwitchCase]="chargeModel.field_name">
              <div *ngIf="!chargeValue.value.select" style="display: flex; align-items: baseline;">

                <label class="radio">
                  <input  type="checkbox" formControlName="select" >
                  <i></i>
                </label>

                <div class="form-item charges-values">
                  <div class="form-data">
                    <span class="kg">
                      {{chargeModel.name}}
                      <input type="text" class="values-input" formControlName="cost">
                      $
                    </span>
                  </div>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

    <!-- <button (click)="addCharge()">addCharge</button> -->

  </div>

</form>








