.form-row .form-block-sub-title{
  margin-bottom: 30px;

}
.charges{
  display: flex; flex-direction: column; gap: 25px;
  .custom_char, .char{
    display: flex; align-items: baseline; gap: 5px; position: relative;
    button.del-charge{
      position: absolute;
      background-color: inherit;
      right: 13px; top: 13px;
      padding: 0; margin: 0;

    }
  }
  .char.delivery{
    flex-direction: column; align-items: normal;
    .form-item{
      max-width: 100%;
      margin-left: 25px;
      margin-top: 15px;
    }
  }
  button.add-charge {
    background-color: var(--accent);
    border-radius: 6px;
    color: var(--accent_text);
    height: 40px; width: fit-content;
    padding: 0 25px;

  }
}
.form-data.transport {
  display: flex;
  gap: 8px;
  --tt-color:var(--background3);
  button.transport{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    width: 55px;
    height: 39px;
    border-radius: 6px;
    background-color: inherit;
    &.active{
      --tt-color: var(--accent);
      border: 1px solid var(--accent);
    }
    .new-icon{
      margin: 0 auto;
    }
  }
}

.form-btns{ //TODO:написал новые правила для кнопок управления формами
  display: flex;
  margin-top: 17px;
  button{
    min-width: 65px;
    height: 55px;
    border-radius: 6px;
    text-transform: uppercase;
    display: flex; flex-direction: column; justify-content: space-between;
    font-size: 10px; line-height: 10px; text-align: left;
    padding: 9px 8px 7px;
  }
  button.cancel{
    background-color: var(--event_neutral);
    color: var(--event_neutral_text);
    --icon-color: var(--event_neutral_text)
  }
  button.save{
    margin-left: auto;
    margin-right: 8px;
    background-color: var(--accent);
    color: var(--accent_text);
    --icon-color: var(--accent_text)
  }
}


