<form class="edit-form" style="width: 600px;" [formGroup]="form">
  <div class="form-block-title">Форма запроса ставки</div>
  <div class="form-block">
    <div class="form-row">
      <div class="form-block-sub-title">Направление:</div>
      <div class="form-item-layout">

        <div class="form-item">
          <div class="form-label">вид перевозки: <span class="req">•</span></div>
          <div class="form-data transport">
            <button *ngFor="let item of transportationTypes"
              type="button"
              (click)="patchField('transport_kind_key',item.key)"
              class="transport"
              [class]="item.key==form.value.transport_kind_key?'active':''"
            >
              <div class="new-icon tt s22px" [class]="item.key" style="--icon-color: var(--tt-color);"></div>
            </button>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">вид транспорта: <span class="req">•</span></div>
          <div class="form-data">
            <ng-select formControlName="transport_type_id" class="custom" bindLabel="name" bindValue="id" [items]="currentTransports"></ng-select>
          </div>
        </div>

      </div>

      <div class="form-item-layout">

      </div>

      <div class="form-item-layout">

      </div>

      <div class="form-item-layout">
        
      </div>

    </div>

    <div class="form-row">
      <div class="form-block-sub-title">Требуемые услуги:</div>
      <div class="charges">
        <mat-checkbox *ngFor="let item of currentCharges"
          [checked]="isChargeChecked(item.id)"
          (change)="onServiceCheckboxChange(item.id, $event.checked)"
        >
          {{item.title}}
        </mat-checkbox>
        <div class="custom_char" *ngFor="let item of customCharges; let i = index;">
          <mat-checkbox
            [checked]="item.check"
            (change)="onCustomServiceCheckboxChange(i, $event.checked)"
          >
          </mat-checkbox>
          <input type="text" placeholder="Напишите название услуги" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
          <button class="del-charge" (click)="delCustomCharge(i)">
            <div class="new-icon cancel s14px" style="--icon-color: var(--accent);"></div>
          </button>
        </div>

        <button (click)="addCustomCharge()">+ Добавить другие услуги</button>
      </div>
    </div>

    <div class="form-row">
      <div class="form-item">
        <div class="form-label">примечание:</div>
        <div class="form-data">
          <input type="text"  formControlName="comment" readonly>
        </div>
      </div>
    </div>

  </div>
  <div (click)="save()">save</div>

</form>
