
.charges-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  border-top: 1px solid #E0E5EB;
  padding: 40px 0;
  .charge_on{
    // width: 70%;
    // margin-right: 40px;
    // padding-right: 40px;
    label{
      width: 50%;
    }
  }
  .charge_off{
    // width: 30%;
  }

}

.w100{
  width: 100%;
}
.charge{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: baseline;
  .unit.l{
    min-width: 165px;
  }
  .unit.m{
    min-width: 165px;
  }
  .unit.s{
    min-width: 165px;
  }
  .unit input{
    width: 95px;
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: right;
  }
  .comment input{
    width: 340px;
  }
  .cross{
    background-image: url(../../../../../assets/pic-btn-cancel-black.svg);
    background-size: contain;
    width: 10px;
    height: 10px;
  }
  .equal{
    color: black;
  }
}

//  btn save rates
.btn-save-rates{
  margin-top: 24px;
  background-color: var(--accent,  #DB563B);
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: white;
  display: flex;
  width: 120px;
  cursor: pointer;
}
.icon-btn-save-rates{
  background-image: url(../../../../../assets/pic-btn-send-white.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  display: block;
  margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn-close-dialog{
  margin-top: 24px;
  background-color: #606A74;
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: white;
  display: flex;
  cursor: pointer;
}
.icon-btn-close-dialog{
  background-image: url(../../../../../assets/pic-btn-cancel.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  display: block;
  margin-right: 5px;
}


.form-block .form-row {
  padding: 40px 0;
  margin: 0;
}
.form-block .form-row:first-child {
  padding-top: 0;
}
.form-row.radios .form-item-layout{
  div {
    width: 150px;
  }
  label {
    width: 320px;
  }
}
